<div class="nav">
    <div class="nav-inner">
        <a href="/" class="label">
            <img viewbox="0 0 250 100" class="logo" src="/img/xueba.png" />
        </a>
        <nav>
            <a class="nav-item" href="/search">Find a Tutor</a>
            <a class="nav-item" href="/apply" target="_blank">Become a Tutor</a>
            <a class="nav-item" href="/profile">Profile</a>
            
        </nav>
        <div class="searchBar" style="float:right">
            <form action="/search/section" class="searchTool" id="navSearch" method="GET">
                <div class="searchInput"> 
                    <input type="text" class="tutor-input" name="course" placeholder="type the 6 digit coursesID to find a tutor ">
                </div>
            </form>
            <input type="submit" class="btn searching" form="navSearch"  value="Search">
        </div>
        <div>
            <a class="nav-item" href="/login">Log In</a>
            <a class="nav-item" href="/logout">Log Out</a>
        </div>
        
    </div>
</div>
       
            



