.body {
    padding: 20px;
}

.logo{
    height:30px;
    width: 64px;
    padding: 0 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav{
    position: relative;
    z-index: 100;
    min-width: 1032px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background-clip: content-box; 
}

.nav-inner{
    position: relative;
    /* width: 1000px; */
    display: flex;
    height: 52px;
    padding: 0 40px;
    margin: 0 auto;
    align-items: center;
}

nav {
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    color: #999;
}

.nav-item{
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    color: #8590a6;
    position: relative;
    text-decoration: none;
}

.searchBar{
    display: flex;
    margin: auto;
    margin-right: 10px;
}

.searchTool{
    position: relative;
    width: 320px;
}

.tutor-input{
    width: 300px;
    color: black;
    height: 24px;
    padding: 0;
    overflow: hidden;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

.searchInput{
    background: #f6f6f6;
    width: 326px;
    padding-left: 16px;
    display: flex;
    height: 34px;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 14px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}

.searching{
    color: #ffffff;
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0084ff;
    border-radius: 3px;
}

.profile-title {
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}

.card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}

.cover{
    position: relative;
    height: 132px;
    background: #999;
}

.wrapper{
    position: relative;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

.wrapper-inner{
    position: relative;
    margin: 0px 10px 15px 10px
}

.userphoto {
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 8px;
}

.photo{
    width: 160px;
    height: 160px;
}

.profile-header{
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 164px solid transparent;
}


.profile-header div {
    display: inline-block;
     width: 150px;
}

.name{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.edit-button{
    position: absolute;
    right: -15px;
    bottom: 0;
}

.edit-button-content{
    color: #0084ff;
    border-color: #0084ff;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}

.profile-main{
    display: flex;
    width: 1000px;
    min-height: 100vh;
    margin: 10px auto;
    padding: 0 16px;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-mainCol{
    width: 694px;
}

.profile-act{
    margin: 0 20px;
}

.list-item {
    position:relative;
    padding: 16px 12px;
    border-bottom: 1px solid #f6f6f6;
    
}

.profileMain-header{
    border-bottom: 1px solid #f6f6f6;
}

.profile-item{
    cursor: pointer;
}

.indicator{
    position: relative;
    right: 0;
    bottom: -17px;
    left: 0;
    height: 3px;
    background: #0084FF;
    content: '';
}

.tab {
    padding: 16px 110px;    
}


.time {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
}

.tutor{
    margin-top: 0;
    font-size: 18px;
}

.profile-sideCol {
    justify-content: right;
    width: 296px;
}


.errorMessage {
    padding: 4px 8px;
    background: rgba(240, 100, 100, 0.6);
    color: white;
    border: 1px solid rgba(240, 100, 100, 0.8);
    border-radius: 4px;
}

.status{
    text-align: center;
    padding: 16px 110px;
    border-bottom: 1px solid #f6f6f6;
}

.status-info{
    text-align: center;
    padding: 16px 24px;

}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
    display: inline-block;
}

body{
    margin: 0;
    background: #f6f6f6;
}


.submit-section{
    justify-content: right;
    width: 296px;
    text-align: center;
}

.box {
    margin-top: 20px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
}


.username{
    width: 90%;
    height: 24px;
    border: none;
}

.courseID{
    width: 90%;
    height: 24px;
    border: none;
}

.StartTime{
    width: 90%;
    height: 24px;
    border: none;
}

.EndTime{
    width: 90%;
    height: 24px;
    border: none;
}

.TuitionFee{
    width: 90%;
    height: 24px;
    border: none;
} 

textarea{
    width: 90%;
    height: 50px;
    border: none;
}

.button-submit{
    color: #fff;
    outline: none;
    background-color: #0084ff;
    width: 100%;
    margin-top: 50px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
    border: #0084ff;
    border-radius: 3px;
}

.errorMessage {
    padding: 4px 8px;
    background: rgba(240, 100, 100, 0.6);
    color: white;
    border: 1px solid rgba(240, 100, 100, 0.8);
    border-radius: 4px;
    margin-top:5px;
}

.error{
    color:red;
}


.endButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #bbdaf7;
	-webkit-box-shadow:inset 0px 34px 0px -15px #bbdaf7;
	box-shadow:inset 0px 34px 0px -15px #bbdaf7;
	background-color:#79bbff;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
    text-shadow:0px -1px 0px #528ecc;
    height:auto;
    width:150px;
    position:absolute;
    right:20px;
    bottom:20px;
}

.endButton:hover {
	background-color:#378de5;
}

.endButton:active {
    position:absolute;
    height:auto;
}
